body {
  margin:0;
}
.mainDiv {
  position:fixed;
  background-color: white;
  height: 100vh;
  width: 100vw;
}
.navBar{
  width: 100vw;
  height: 7vh;
  position: relative;
  background:#0c343d;
  text-align: center;
  vertical-align: middle;
  line-height: 7vh;
  color: white;
  font-size: 5vh;
}
.filterDiv{
  background-color: #d9ead3;
  position: relative;
  width: 15vw;
  height: 93vh;
}
.title{
  margin:0;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  top:0;
  width: 15vw;
  height: 7vh;
  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  color: black;
  font-size: 2vh;
}
select{
  width: 14vw;
  border: none;
  padding: 0.2vw;
}

.searchDiv{
  top:7vh;
  left:15vw;
  width: 85vw;
  height: 7vh;
  position: absolute;
  background:black;
  text-align: center;
  vertical-align: middle;
  line-height: 7vh;
}
.searchBar{
  width: 60vw;
  font-size: 2vh;
  position:absolute;
  left:10vw;
  top:1.5vh;
}
.searchButton{
  padding:0;
  font-size: 2vh;
  left:70vw;
  top:1.4vh;
  position:absolute;
}
.map{
  top:14vh;
  left:15vw;
  width: 50vw;
  height: auto;
  position: absolute;
}

hr{
  width: 14vw;
  margin: 0;
  padding: 0;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

h5{
  margin: 0;
  padding: 0;
  font-size: 1.5vh;
}

h3{
  font-size: 2.5vh;
  margin: 0;
  padding: 0;
}

.resultDiv{
  background-color: #d9ead3;
  position: absolute;
  top:14vh;
  left:85vw;
  width: 15vw;
  height: 93vh;
}
.resultTitle{
  margin:0;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  top:0;
  width: 15vw;
  height: 7vh;
  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  color: black;
  font-size: 2vh;
}
.content{
  margin:0;
  position: relative;
  width: 15vw;
  height: 5vh;
  color: black;
  padding: 0.5vw;
}
