body {
  font-family:  Helvetica, Arial, sans-serif;
  margin:0;
}
.mainDiv {
  position:fixed;
  background-color: black;
  height: 100vh;
  width: 100vw;
}
.navBar{
  width: 100vw;
  height: 7vh;
  position: relative;
  background:#0c343d;
  text-align: center;
  vertical-align: middle;
  line-height: 7vh;
  color: white;
  font-size: 3.5vw;
}

#logo{
  height: 5vh;
  top:1vh;
  left:1vw;
  position: absolute;

}
.filterDiv{
  background-color: #d9ead3;
  position: relative;
  width: 15vw;
  height: 93vh;
}
.title{
  margin:0;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  top:0;
  width: 15vw;
  height: 7vh;
  text-align: center;
  vertical-align: middle;
  line-height: 7vh;
  color: black;
  font-size: 3vw;
}
select{
  width: 14vw;
  border: none;
  padding: 0.2vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  font-size: 1.2vw;
}
.filterInput{
  width: 14vw;
  border: none;
  padding: 0.2vw;
  font-size: 1.5vw;
}

.searchDiv{
  top:7vh;
  left:15vw;
  width: 70vw;
  height: 7vh;
  position: absolute;
  background:black;
  text-align: center;
  vertical-align: middle;
  line-height: 7vh;
}
.searchBar{
  border: 1px;
  border-radius: 1vh;
  border-color: black;
  width: 45vw;
  height: 5vh;
  padding:0.2vh;
  font-size: 2vw;
  position:absolute;
  left:5vw;
  top:0.8vh;
}
.searchButton{
  border: 1px;
  border-radius: 1vh;
  border-color: black;
  padding:0;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.2vh;
  font-size: 2vw;
  height: 5.3vh;
  left:49vw;
  top:0.8vh;
  position:absolute;
  background-color: red;
}
#mapid{
  border-radius: 1vh;
  top:14vh;
  left:15vw;
  width: 70vw;
  height: 86vh;
  position: absolute;
  background-color: black;
}

hr{
  width: 14vw;
  margin: 0;
  padding: 0;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

h5{
  margin: 0;
  padding: 0;
  font-size: 1vw;
}

h3{
  font-size: 1.5vw;
  margin: 0;
  padding: 0;
}

.resultDiv{
  background-color: #d9ead3;
  position: absolute;
  top:7vh;
  left:85vw;
  width: 15vw;
  height: 93vh;
}
.resultTitle{
  margin:0;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  top:0;
  width: 15vw;
  height: 7vh;
  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  color: black;
  font-size: 2vw;
}
.content{
  margin:0;
  position: relative;
  width: 15vw;
  height: 5vh;
  color: black;
  padding: 0.5vw;
}
