body {
  font-family:  Helvetica, Arial, sans-serif;
  margin:0;
}
.mainDiv {
  position:fixed;
  background-color: black;
  height: 100vh;
  width: 100vw;
}
.navBar{
  width: 100vw;
  height: 7vh;
  position: relative;
  background:#0c343d;
  text-align: center;
  vertical-align: middle;
  line-height: 7vh;
  color: white;
  font-size: 3.5vw;
}

.logo{
  height: 5vh;
  top:1vh;
  left:1vw;
  position: absolute;

}
#mapid{
  border-radius: 1vh;
  top:14vh;
  right:5vw;
  width: 42.5vw;
  height: 79vh;
  position: absolute;
  background-color: black;
}

#content{
  border-radius: 1vh;
  top:14vh;
  left:5vw;
  width: 42.5vw;
  height: 79vh;
  position: absolute;
  background-color: white;
  padding-left: 0.2vw;
}

hr{
  width: 20vw;
  margin-left:0.2vw;
  padding: 0;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
h3{
  font-size: 1.5vw;

}
p{
  font-size: 1vw;
}
